.widget{
    background-color: #fff;
      color: #030303;
      border-radius: 5px;
      box-shadow: 5px 5px 5px #939393;
  }
  .grid-lines line {
    stroke: gray;
    stroke-opacity: 0.2;
  }
  .apply-box-shadow{
    box-shadow:4.9px 9.8px 9.8px hsl(0deg 0% 0% / 0.35)
  }