.nav-items {
    padding-top: 40px;
    .nav-item {
      padding: 25px 50px;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      @media only screen and (max-width: 850px) {
        padding: 25px 40px;
      }
      &:hover {
        background-color: #F2FAFD;
      }
      fa-icon {
        margin-right: 20px;
        font-size: 20px;
      }
      span {
        display: inline;
        @media only screen and (max-width: 850px) {
          display: none;
          background-color: #F2FAFD;
          color: #000;
        }
      }
    }
    .active{background-color: #F2FAFD;}
  }