<div class="col-12 stretch-card">
  <!-- <div class="text-center mb-2">
      <h1>Insights</h1>
    </div> -->

  <div class="card mt-2 mx-auto p-4 bg-light">
    <div class="card-body bg-light">
      <form
        id="predictor-form"
        role="form"
        #predictorInputForm="ngForm"
      >
        <div class="controls">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
              <div class="form-group">
                <label for="country_selector" class="fw-bold mb-2"
                  >Select Country *</label
                >
                <mat-select
                  name="country_selector"
                  class="form-control"
                  placeholder="Search"
                  ngDefaultControl
                  ngModel
                  required
                  #country_selector="ngModel"
                >
                  <mat-option
                    *ngFor="let country of countriesList"
                    [value]="country"
                    >{{ country }}</mat-option
                  >
                </mat-select>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
              <div class="form-group">
                <section class="example-section">
                  <mat-checkbox
                    name = "holiday_selector"
                    class="example-margin"
                    ngDefaultControl
                    [(ngModel)]="checkTheCheckBox"
                    #holiday_selector = "ngModel"
                     
                    ><b>Include Holidays *</b></mat-checkbox
                  >
                </section>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
              <div class="form-group">
                <label for="contextual_vars_selector" class="fw-bold mb-2"
                  >Select Contextual Variables</label
                >
                <mat-select
                  id="contextual_vars_selector"
                  name="contextual_vars_selector"
                  class="form-control"
                  placeholder="Search"
                  ngDefaultControl
                  ngModel
                  multiple
                >
                  <mat-option
                    *ngFor="let control_variable of controlVariables"
                    [value]="control_variable"
                    >{{ control_variable }}</mat-option
                  >
                </mat-select>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
              <div class="form-group">
                <label for="ad_Stocklist_selector" class="fw-bold mb-2"
                  >Select Ad Stock *</label
                >
                <mat-select
                  name = "adstock_selector"
                  class="form-control"
                  placeholder="Search"
                  ngDefaultControl
                  ngModel
                >
                  <mat-option
                    *ngFor="let adStockOption of adstockList"
                    [value]="adStockOption"
                    >{{ adStockOption }}</mat-option
                  >
                </mat-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 p-2">
              <button
                class="btn btn-success btn-send pt-2 btn-block"
                (click)="onSubmit(predictorInputForm.value)"
              >
                Build Model
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngFor="let notification of notifications">
    {{ notification.message }}
  </div>
</div>
